@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:ital,wght@0,400;1,500&display=swap");

body {
  background-color: #211e1e;
  color: #fff;
}
.text-dancing-script {
  font-family: "Dancing Script", cursive, sans-serif;
}
.technologies {
  font-family: "Montserrat Alternates", sans-serif;
}

.gradient-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-red-500 to-orange-500 text-transparent;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
  white-space: nowrap;
  display: inline-block;
  width: 0;
}

@keyframes typing-text {
  from {
    width: 0%;
  }
  to {
    width: 278px;
  }
}
@keyframes typing-text {
  to {
    border-color: transparent;
  }
}
